[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
brewblox-service = ">=0.15.0"
aioinflux = "*"
dpath = "*"
aiohttp-sse = "*"
python-dateutil = "*"
pyyaml = "*"

[dev-packages]
"pytest-flake8" = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-aiohttp = "*"
aioresponses = "*"
"flake8" = "*"
"autopep8" = "*"
brewblox-dev = "*"

[requires]
python_version = "3.8"
